<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />
  <property name="LOGS_BASE" value="logs"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{yy-MMM-dd@HH:mm:ss}  %level %caller %logger{5} %M => %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="ROOT_LOGGER" class="ch.qos.logback.core.FileAppender">
    <file>${LOGS_BASE}/root.log</file>
    <encoder>
      <pattern>%date{yy-MMM-dd; HH:mm:ss} %level %logger{5} msg%n</pattern>
    </encoder>
  </appender>
  <appender name="SERVICE_LOGGER" class="ch.qos.logback.core.FileAppender">
    <file>${LOGS_BASE}/service.log</file>
    <encoder>
      <pattern>%date{yy-MMM-dd@HH:mm:ss}  %level %caller %logger{5} %M => %msg%n</pattern>
    </encoder>
  </appender>
  <root level="WARN">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="ROOT_LOGGER" />
  </root>
  <logger name="com.revature.rideforce" level="INFO">
    <appender-ref ref="SERVICE_LOGGER"/>
    <appender-ref ref="STDOUT"/>
  </logger>
</configuration>
